* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../img/background.png');
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    min-width: 100%;
}

span {
    color: #cbb35b;
}

.left-block {
    width: 100%;
    margin: 40px;
}

.left-block__banner {
    height: 500px;
    width: 100%;
    /*margin: 40px;*/
    background-image: url('../img/Minecraft Skin Render 1.png');
    background-repeat: no-repeat, repeat;
    /*box-shadow: 0px 0px 25px 0px #000000;*/
}

.left-block__catalog {
    width: 100%;
    margin-top: 40px;
}

.right-block {
    width: 100%;
}

