@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 300px;
  --card-width: 80%;
}


/*body {*/
/*  !*min-height: 100vh;*!*/
/*  !*background: #212534;*!*/
/*  !*display: flex;*!*/
/*  align-items: center;*/
/*  flex-direction: column;*/
/*  padding-top: 2rem;*/
/*  padding-bottom: 2rem;*/
/*  box-sizing: border-box;*/
/*}*/


.promo-card {
  background: #0b0b0b;
  width: var(--card-width);
  height: var(--card-height);
  /*padding: 3px;*/
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: 'Roboto';
}

.promo-card:hover {
  color: rgb(203, 179, 91);
  transition: color 1s;
}
.promo-card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}


.promo-card::before {
  content: "";
  width: 101%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #000000, #fdb400 43%, #cbb35b);
    position: absolute;
    z-index: -1;
    /*top: -1%;*/
    /*left: -2%;*/
    animation: spin 2.5s linear infinite;
}

.promo-card::after {
  position: absolute;
  content: "";
  /*top: calc(var(--card-height) / 6);*/
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  /*margin: 0 auto;*/
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #000000, #fdb400 43%, #cbb35b);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}